# Compiled
*.elc

# Packaging
.cask

# Config files
bookmarks
.saveplace
recentf
auto-save-list/
elpa/
tramp
semanticdb/
projectile-bookmarks.eld
projectile.cache
smex-items
nov-places
transient/
docsets/
url/

# Backup files
*~